<p id="notice"><%= notice %></p>


<p>
	<strong>Name:</strong>
	<%= @tactic.name %>

</p>


<%= form_tag "/sequences", method: "post" do %>
<input type="button" value="Ajouter une séquence" />
<% end %>


<p>
	<strong>Séquence:</strong>
	<%= @tactic.sequences.first.id%>
	<%= @tactic.sequences.first.name%>

</p>



<%= image_tag 'terrain.jpg' %>


<%= link_to 'Edit', edit_tactic_path(@tactic) %> |
<%= link_to 'Back', tactics_path %>
