<p id="notice"><%= notice %></p>


<p>
	<strong>Name:</strong>
	<%= @tactic.name %>

</p>

<p>
	<%= form_tag "/sequences", method: "post" do %>
	<input type="button" value="Ajouter une séquence" />
	<% end %>
</p>


<p>
	<strong>Séquence:</strong>
  	<% @tactic.sequences.each do |sequence| %>
		<tr>
 			<td><%= sequence.name %></td>
		</tr>
	<% end %>

</p>

<p>
	<strong>Markers:</strong>
  	<% @tactic.sequences.first.markers.each do |marker| %>
		<tr>
 			<td><%= marker.name %></td>
		</tr>
	<% end %>

</p>



<%= image_tag 'terrain.jpg' %>


<%= link_to 'Edit', edit_tactic_path(@tactic) %> |
<%= link_to 'Back', tactics_path %>
