<p id="notice"><%= notice %></p>

<h1>Sequences</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @sequences.each do |sequence| %>
    <tr>
      <td><%= sequence.id %></td>
      <td><%= sequence.name %></td>
      <td><%= link_to 'Show', tactic_sequence_path(@tactic, sequence) %></td>
      <td><%= link_to 'Edit', edit_tactic_sequence_path( @tactic, sequence) %></td>
      <td><%= link_to 'Destroy', tactic_sequences_path(@tactic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence', new_tactic_sequence_path(@tactic)%>
